::-webkit-scrollbar {
  width: 0;
}
*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .5s ease-in-out;
}
img {
  display: block;
  width: 100%;
} 
.container {
  margin: auto;
  width: 100%;
  padding: 1rem;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image:  url("/img/b1.png");
  height: 100vh;
}
#header {
    background: linear-gradient(90deg, rgba(126, 179, 173, 0.678) 0%, rgba(150, 181, 178, 0.541) 50%, rgba(231, 238, 231, 0.103) 100%);
    background-position: top right;
    height: 100vh;
    width: 20%;
    position: fixed;
    color: rgb(73, 73, 73);
    margin-top: 0;
    }
.header-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    
}
main {
    /* margin-left: 20%; */
    margin-inline-start: auto;
    padding: 2em 2em 2em 2em;
    width: calc(100% - 20%);
    padding-left: 10px;
}
.avatar {
    display: flex;
    max-inline-size: 40%;
    border-radius: 50%;  
    border: 3px solid #fff;
    margin: auto;
    margin-bottom: 5rem;
    }
li {
    text-align: center;
    list-style-type: none; /* Убирает буллиты */
    margin-bottom: 5px;
    margin-top: 5px;
}
ul {
  padding: 10px;

}
a {
    text-decoration: none;
    color: rgb(77, 76, 76);
    font-size: 1.2rem;
    font-weight: bold;
    
}
p {
  font-weight: 400;
  color: rgb(53, 53, 53);
  font-size: 1.2rem;
  border: 1px dotted #ffc562;
  border-radius: 20px;
  text-align: left;
}
.bio  {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.bio p {
  background-color: #fff;
  padding: 2rem; 
  margin-right: 20px;
}


.row{
  justify-content: center;
  flex-direction: column;
  flex-wrap:inherit
}

section {
  background-color: rgb(255, 252, 247);
  border-radius: 40px;
  /* border: 1px dotted rgb(255, 197, 98); */
  margin-bottom: 15px;
}
.listButtons {
  background-color: rgb(255, 252, 247);
  border-radius: 40px;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn {
    align-items: center;
    background-color: rgb(160, 147, 123);
    border: 2px solid #726c6c;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    height: 45px;
    }
.portfolio-wrapper{
  width:100%;
  text-align:center;
}
.portfolio-item {
  display: inline-block;
  margin: 10px 10px 10px 10px;
  }
.portfolio-item img {
  outline: .1rem solid #ccc;
  outline-offset: -0.5rem;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.portfolio-item img:hover {
  outline: .1rem solid #8f8f8f;
   outline-offset: 0;
   text-transform: capitalize;
   transition: all .2s linear;
}

 h1 {
    padding: 2rem;
    font-weight: 700;
 } 



/* feedback  */
textarea {
  width: 100%;
  border-radius: 5px;
 
}
.feedback-form {
  padding: 5%;
}


/* faq */
details{
  display:block;
  background: #fff;
  width:100%;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  overflow:hidden;
  margin-bottom: 1.5rem;
  padding: 10px;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;} 
summary {
   display:block;
   padding: .3em 1em .3em .9em;
   /* border-bottom: 1px solid #e2e8f0; */
   font-size:1.4em;
   cursor: pointer;
   position: relative;
   border: 1px solid #ffc662;
   border-radius: 20px;
}
summary:before {  
  top: .4em;
  right: .3em;
  color: transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
  width: 1em;
  height: 1em;  
  content: "";
  position: absolute;
  transition: transform .5s;
}
details[open] > summary:before {
  transform: scale(1,-1);
}
summary ~ * {
   padding: 0 1em 10px 1.4em;
}
details[open] summary ~ *{ 
  animation: sweep .5s ease-in-out;
}
.faq-container {
padding: 5%;
padding-top: 0;
}
@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

/* owl slider */
.owl-carousel {
	position: relative;
} 
  /* img {
    
    height: auto;
}   */


.owl-prev, .owl-next {
	position: absolute;
	top: calc(90% - 20px);
  background: transparent;
 
    &:hover, &:active, &:focus {
      outline: none;
    }  
	 .fa {
		font-size: 50px;
		position: relative;
	}
}

.owl-prev {
	left: 30px;
	.fa {
		right: 2px;
    color: rgb(70, 70, 44);
    /* border: 1px solid rgb(151, 151, 121); */
	  border-radius: 50%;
    transition: all 400ms ease-in-out;
	  width: 55px; height: 55px; 
	} 

  &:hover, &:active, &:focus {
    outline: none;
  } 
 }

.owl-next {
	right: 30px;
	.fa {
		left: 2px;
    color: rgb(70, 70, 44);
    /* border: 1px solid yellow; */
	  border-radius: 50%;
    transition: all 400ms ease-in-out;
    width: 55px; height: 55px;
	}
} 
.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
}

dialog {
  position: fixed;
  border: none;
  padding: 0;
  background-color: #FFFFFF;
  color: #000000;
}


.dialog__wrapper {
  padding: 1em; 
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.scroll-lock {
  overflow: hidden;
}


/* медиазапросы */
@media (max-width:1200px) {
  .bio {
    flex-direction: column;
    justify-content: center;
  }
  .bio img {
    width: 80%;
    margin: auto;
  }
}
@media (max-width:1080px){
  #header {
    position:static;
    width: 100%;
    height: 12%;
  }
  .header-content {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }

  .container{
    width: 100%;
  }
  .avatar {
    margin: 0;
    margin-right: 20px;
    width: 10%;
  }
  ul li{
    display:inline-block;
  }
  main{
    width: 100%;
    padding-top: 0;
    margin-left: 10px
  }
  .listButtons {
    display: none;
  }
}
@media (max-width:1041px){
  html{
      font-size: 100%;
  }
  .header-content {
    max-width: 100%;
  }
  main{
    width: 100%;
    padding-top: 0;
  }
  .bio {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .portfolio-item img{
    height: 10rem
 }
}
@media (max-width:991px){

  html{
     font-size: 100%;
  }
  .header-content {
    max-width: 100%;
  }
  .header-content h5{
    font-size: 1rem;
  }
  .portfolio-item img{
    height: 30rem
 }
}
@media (max-width:810px){
  .header-content {
    max-width: 100%;
  }
  .header-content h5{
    font-size: 1rem;
  }
  .portfolio-item img{
    height: 20rem
  }
  .nav-link {
    padding: 0;
    padding-right: 10px;
    font-size: medium;
  }
}

@media (max-width:768px){

 .portfolio-item img{
     height: 20rem
  }
  .header-content {
    max-width: 100%;
    flex-direction: row;
    padding: 0;
  }
  main{
    width: 100%;
    padding-top: 0;
  }
  .nav-link {
    padding-right: 10px;
    font-size: medium;
  }
}
@media (max-width:640px){
  #text {
    display: none;
  }
  .header-content {
    max-width: 100%;
  }
  .nav-link {
    padding-right: 20px;
    font-size: 1.25rem;
  }
  .nav-list {
    padding-right: 0;
  }
  .portfolio-item img{
    margin: 5px;
 }
}
@media (max-width:588px){
  .portfolio-item img{
    height: 15rem;
 }
 .avatar {
  margin: 5px;
}
}
@media (max-width:513px){
  .portfolio-item img{
    height: 12rem
  }
  .nav-link {
    font-size: 1.2rem;
  }
  .avatar {
    display: none;
  }
}
@media (max-width:440px){
  .nav-link {
    font-size: 1rem;
  }
}

